<head>

<style type="text/css">

	body {
		background-color: #bfbfbf;
	}
	
	.box {
		width      : 90%;
		height     : 480px;
		box-shadow : 0 6px 20px 0 black;
		margin     : auto;
	}


</style>

</head>

<body>

	<div class=box>
		<p > I am <italic>awesome</italic> at photoshop.</p>

	</div>

	<br />
	<br />


	<%= link_to "Home", root_path %> | <%= link_to "Marissa's Blog", articles_path %> 


</body>