<head>

<style type="text/css">

	body {
		background-color: #bfbfbf;
	}
	
	.box {
		width      : 90%;
		height     : 480px;
		box-shadow : 0 6px 20px 0 black;
		margin     : auto;
	}


</style>

</head>

<body>

<div class=header>
	<h1 class=header_text>Marissa Ball</h1>

	<h2 class=header_text2>Design and Development</h2>
	</div>

	<div class=box>
		<p > I am <italic>awesome</italic> at photoshop.</p>

	</div>

	<br />
	<br />

<div class=footer>

	<%= link_to "Home", root_path %> | <%= link_to "Marissa's Blog", articles_path %> 

</div>

</body>