<head>

<style type="text/css">

	body{
		background: #F1F1F1;
	}

	.about-content{
		margin: auto;
	}

	.about-margin-top{
		margin-top: 16px !important;
	}

</style>

</head>

<body>
	<div class="page-header">
 		<h1>About <small>MJB</small></h1>
	</div>
	
	<div class="about-content about-margin-top" style="max-width: 1400px;">
		<div class=box>
			<div class="container">
			
			</div>
		</div>
	</div>

	
	
	<br />
	<br />

	<!-- <div class="container">
		<%= link_to "Submit", "#", class: "btn btn-primary btn-large"%>
	</div> -->

	<br />
	<br />


</body>