<head>

<style type="text/css">

	body{
		background: #F1F1F1;
	}

	.about-content{
		margin: auto;
	}

	.about-margin-top{
		margin-top: 16px !important;
	}

</style>

</head>

<body>
	<div class="page-header">
 		<h1>About <small>MJB</small></h1>
	</div>
	
	<div class="about-content about-margin-top" style="max-width: 1400px;">
		<div class="box">
			<div class="container">
			

		<!-- 		<div class="row">
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="k02.jpg" alt="hi">
				      <div class="caption">
				        <h3>Katniss</h3>
				        <p>...</p>
				        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div> -->

				<ul class="media-list">
				  <li class="media">
				    <div class="media-left">
				      <a>
				        <img class="media-object" src="k02.jpg" alt="...">
				      </a>
				    </div>
				    <div class="media-body">
				      <h4 class="media-heading">Media heading</h4>
				      hi
				    </div>
				  </li>
				</ul>

			</div>
		</div>
	</div>

	
	
	
	<br />
	<br />

	<!-- <div class="container">
		<%= link_to "Submit", "#", class: "btn btn-primary btn-large"%>
	</div> -->

	<br />
	<br />


</body>