<head>

<style type="text/css">

	body {
		background-color: #1a1a1a;
	}

	.box {
		height   : 425px;
		width    : 55%;
		margin   : 25px;
		
	}

	/*.box1 {
	#	background-color : #FFFFFF;
		height           : 200px;
		width            : 200px;
		border           : 0.5px solid grey;
		float            : top right;
	}*/

</style>



</head>


<body>
	
<div class=header>	

	<h1 class=header_text>Marissa Ball</h1>

	<h2 class=header_text2>Design and Development</h2>

</div>


	<div class=box> 
		<h1 align="center">This is a box.</h1>
		<div>
			<h2>Mock</h2>
				<div class=div_padding>
					<p>Yeah</p>
				</div>

			<h2>Ing</h2>
				<div class=div_padding>
					<p>Yeah</p>
				</div>
			<h2>Bird</h2>
				<div class=div_padding>
					<p>Yeah</p>
				</div>
			<h2>Yeah</h2>
				<div class=div_padding>
					<p>Yeah</p>
				</div>

		</div>
	</div>

	<div class=box1>
		

	</div>

	</br>
	</br>

<div class=footer>

	<%= link_to "Marissa's Blog", articles_path %> | <%= link_to "About", about_path%>
</div>

</body>