<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<style type="text/css">
	body{
		background: #F1F1F1;
	}
</style>

<body>
	
	<div class="container">
     	<div class="page-header">
			<h1>Information Security <small>in Python</small></h1>
		</div>
	</div>

</body>
</html>