<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<style type="text/css">
	body{
		background: #F1F1F1;
	}

</style>

<body>
		<div class="container">
	     	<div class="page-header">
				<h1>Information Security <small>in Python</small></h1>
			</div>
		</div>

		<div class="box">
			<div class="container">
				<ul class="media-list">
				  <li class="media">

				    <div class="media-left">
				    	<div class="media-body">
							<h3 class="media-heading">Learning the Basics of Information Security</h3>	     
					  			<p>yas</p>
				    </div>

				    <div class="media-body">
				      
					    <h3 class="media-heading">Hardware</h3>
					    	<p>yass</p>
				 
					    <h3 class="media-heading">Networking</h3>
							<p>yasss</p>
				      
					    <h3 class="media-heading">Mobile Devices</h3>
							<p>yassss</p>
				     
					   <h3 class="media-heading">Hardware and Network Troubleshooting</h3>
							<p>yasssss</p>

				    </div>
				  </li>
				</ul>
			</div>
		</div>

<br />
<br />
<br />
</body>
</html>