$navbar-default-bg: #262626;


@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
	float:left;
	font-size:1.7em;
	color: #ffffff;
	letter-spacing: -1px;
	font-family: "Times New Roman", Times, serif;
}

#logo:hover {
	color:darkgrey;
	text-decoration: none;
}