$navbar-default-bg: #262626;


@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
	float          : left;
	font-size      : 1.7em;
	color          : #ffffff;
	letter-spacing : -1px;
	font-family    : "Times New Roman", Times, serif;
}

#logo:hover {
	color           : #e4fde2;
	text-decoration : none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image : asset-url('yo.jpg');
	background-size  : cover;
	height           : 550px;
}

.jumbotron h1 {
	color          : #fff;
	text-align     : center;
	margin-bottom  : 30px;
	letter-spacing : -1px;
	font-weight    : regular;
	text-shadow    : 0 0 9px #363636;
}

.article-actions {
	border-top  : 1px solid #eaeaea;
	padding-top : 5px;
}

.description {
	margin-top: 0;
}

.article-title {
	font-weight : bold;
	font-size   : 1.5em;
}

.article-body {
	border-top     : 1px solid #eaeaea;
	padding-top    : 15px;
	padding-bottom : 15px;
}

footer {
	margin-top     : 45px;
	padding-bottom : 5px;
	border-top     : 1px solid;
	color          : #262626;
}

footer a:hoover {
	color: #00ced1;
}

footer small {
	float:left;
}

footer ul {
	float      : right;
	list-style : none;
	margin-left: 15px;
}

.box {
	width         : 100%;
	height        : 480px;
	box-shadow    : 0 6px 20px 0 black;
	margin        : auto;
	padding       : auto;
	border-radius : 7px;
}

