<div class='container'>
	<footer class="footer">
		<small>
			<a href="https://github.com/marissaball">Github</a> |

			<a href="https://twitter.com/_marissaball">Twitter</a>

		</small>
		<nav>
			<ul>
				<%= link_to "About", about_path %>
			</ul>
		</nav>
	</footer>
</div>